body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.container {
    background: #fff;
    width: 100%;
    height: 100%;
}
.box {
    width: 100%;
    height: 100%;
}
.wheel {
    width: 100%;
    height: 100%;
    position: absolute;
}
.control {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 150px;
    bottom: 0;
    /* margin-top: calc(100% - 200px); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.radio {
    width: 150px;
    height: 100px;
    background: gray;
    cursor: pointer;
    margin: 12px;
}
.checked {
    filter: brightness(1.5);
}
/* .wheel:nth-child(1) {
    z-index: 20;
} */
.radio:nth-child(1) {
    background-image: url("../img/1.png");
    background-size: 100% 100%;
}
.radio:nth-child(2) {
    background-image: url("../img/2.jpg");
    background-size: 100% 100%;
}
.radio:nth-child(3) {
    background-image: url("../img/3.jpg");
    background-size: 100% 100%;
}
.radio:nth-child(4) {
    background-image: url("../img/4.jpg");
    background-size: 100% 100%;
}
.radio:nth-child(5) {
    background-image: url("../img/5.jpg");
    background-size: 100% 100%;
}
/* .radio.clicked:nth-child(1)~.box .wheel:nth-child(1) {
    animation: img1 .5s ease-out 1s infinite normal;
    z-index: 4;
}
.radio.clicked:nth-child(2)~.box .wheel:nth-child(2) {
    animation: img2 .5s ease-out 1s infinite normal;
    z-index: 4;
}
.radio.clicked:nth-child(3)~.box .wheel:nth-child(3) {
    animation: img3 1s ease-in 1s infinite normal;
    z-index: 4;
}
.radio.clicked:nth-child(4)~.box .wheel:nth-child(4) {
    animation: img4 1s ease-out 1s infinite normal;
    z-index: 4;
}
.radio.clicked:nth-child(5)~.box .wheel:nth-child(5) {
    animation: img5 .7s ease-in-out 1s infinite normal;
    z-index: 4;
} */
.wheel:nth-child(1).clicked  {
    animation: img1 .5s ease-out;
    z-index: 4;
}
.wheel:nth-child(2).clicked  {
    animation: img2 .5s ease-out;
    z-index: 4;
}
.wheel:nth-child(3).clicked {
    animation: img3 1s ease-in;
    z-index: 4;
}
.wheel:nth-child(4).clicked  {
    animation: img4 1s ease-out;
    z-index: 4;
}
.wheel:nth-child(5).clicked  {
    animation: img5 .7s ease-in-out;
    z-index: 4;
}
.wheel:not(.clicked) {
    z-index: 3;
}
@keyframes img1 {
    from {
        left: -500px;
    }
    to {
        left: 0;
    }
}
@keyframes img2 {
    from {
        top: 350px;
    }
    to {
        top: 0;
    }
}
@keyframes img3 {
    from {
        transform: scale(.1)
    }
    to {
        transform: scale(1)
    }
}
@keyframes img4 {
    from {
        transform: scale(2)
    }
    to {
        transform: scale(1)
    }
}
@keyframes img5 {
    from {
        transform: rotate(360deg) scale(.1)
    }
    to {
        transform: rotate(0deg) scale(1)
    }
}